.header-container{
    margin-left: 2vmin;
    margin-right: 1vmin;
    margin-top: 1vmin;
}

.searchicon{
    font-size: 3vmin;
    text-align: center;
    margin-top: 3vmin;
}

.addstuff{
    margin: 0;
    padding: 0;
    position: relative;
    top: 1.6vmin;
}

@media only screen and (max-width: 600px) {
    .addstuff{
        font-size: 3.5vmin;
        top: 4vmin;
    }
    .addstuff .material-icons {
        font-size: 3.5vmin;
    }
}