html{
    background-color: rgb(5, 0, 27);
}

.table-container{
    margin: 15vmin;
    margin-top: 2vmin;
}

.tableheadrow th{
    margin: 0;
    background-color: #b4b4ee;
}

.tableheadrow , .headrow td, th{
    width: 20vw;
    text-align: center;
    background-color: #eeb4b4;
}

.collapsible-header{
    padding: 0;
    margin: 0;
}

.headrow img{
    height: 6vmin;
    width: auto;
    border: 0.1vmin solid #eeb4b4;
    border-radius: 0.5vmin;
    margin-right: 4vmin;
}

.collapsible-body{
    text-align: center;
    background: linear-gradient(#aaeeaa, #ddeedd);
    margin: 0;
}

.collapsible-body img{
    height: 25vmin;
    width: auto;
    border: 0.2vmin solid;
    border-radius: 1vmin;
}

.collapsible-body span{
    font-weight: bold;
}
