/* .todaysales {
    margin: 3vmin;
    margin-bottom: 1vmin;
    font-size: 2.3vmin;
    font-weight: bold;
    width: 15vw;
    background-color: #f0eaa1;
    border: none;
    outline: none;
    border-radius: 0.5vmin;
}

.timeperiod options{
    background-color: white;

}

.card-panel span {
    font-size: 3vmin;
    padding: 0;
    margin: 0;
}

.card-panel p {
    font-size: 7vmin;
    padding: 0;
    margin: 0;
}

table {
    width: 90vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}


td {
    margin: 0vmin;
    padding: 1vmin;
}

.productimg {
    height: 5vmin;
    width: auto;
    border: 0.1vmin solid #eeb4b4;
    border-radius: 0.5vmin;
} */