.todaysales{
    margin: 3vmin;
    margin-bottom: 1vmin;
    font-size: 2.3vmin;
    font-weight: bold;
    width: 15vw;
}

.card-panel{
    background: linear-gradient(rgb(102,204,255), rgb(166, 225, 255));
}

.card-panel span{
    font-size: 3vmin;
    padding: 0;
    margin: 0;
}

.card-panel p{
    font-size: 7vmin;
    padding: 0;
    margin: 0;
}

table {
    width: 90vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

th {
    background-color: rgb(255,102,128);
}

td {
    margin: 0vmin;
    padding: 1vmin;
    background-color: rgb(255,230,102);
}

.productimg{
    height: 5vmin;
    width: auto;
    border: 0.1vmin solid rgb(255, 169, 169);
    border-radius: 0.5vmin;
}